<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>| Report Card</title>
     {% load static %}
     <link rel="stylesheet" href="{% static 'style.css'%}">
  </head>
  <body style="background: Lightskyblue">
  <center>
  <div class="container py-5 text-white">
    {% comment %} <h1 class="h1">{{Name of School}}</h1> {% endcomment %}
    <h3>Report Card</h3>
    </br>
     <div class="row">
                <div class="col-md-6 my-2">
                    <input type="text" class="form-control" name="fullname" placeholder="fullname" required>
                </div>
                <div class="col-md-6 my-2">
                    <input type="registration" class="form-control" name="registration" placeholder="Registration No" required>
                </div>
                <div class="col-md-6 my-2">
                    <input type="gender" class="form-control" name="gender" placeholder="Gender" required>
                </div>

                <div class="col-md-6 my-2">
                    <input type="text" class="form-control" name="date of birth" placeholder="Date of Birth"
                        required>
                </div>
                <div class="col-md-6 my-2">
                    <input type="text" class="form-control" name="country" placeholder="Country of Residence" required>
                </div>
                 <div class="col-md-6 my-2">
                    <input type="text" class="form-control" name="city" placeholder="City of Residence" required>
                </div>
    <hr/>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Question NO</th>
      <th scope="col">Score if correct</th>
      <th scope="col">Your Score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{}</td>
      <td>{}</td>
    </tr>
    <tr>
      <th scope="row">2</th>
     <td>{}</td>
      <td>{}</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>{}</td>
      <td>{}</td>
    </tr>
    <th scope="row">4</th>
     <td>{}</td>
      <td>{}</td>
    </tr>
    <tr>
      <th scope="row">5</th>
    <td>{}</td>
      <td>{}</td>
    </tr>
    <tr>
      <th scope="row">6</th>
     <td>{}</td>
      <td>{}</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>{}</td>
      <td>{}</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>{}</td>
      <td>{}</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>{}</td>
      <td>{}</td>
    </tr>
    <th scope="row">10</th>
     <td>{}</td>
      <td>{}</td>
    </tr>
    <tr>
      <th scope="row">11</th>
      <td>{}</td>
      <td>{}</td>
    </tr>
    <tr>
      <th scope="row">12</th>
      <td>{}</td>
      <td>{}</td>
    </tr>
    <tr>
      <th scope="row">13</th>
      <td>{}</td>
      <td>{}</td>
    </tr>
    <tr>
      <th scope="row">14</th>
      <td>{}</td>
      <td>{}</td>
    </tr>
    <th scope="row">15</th>
      <td>{}</td>
      <td>{}</td>
    </tr>
    <tr>
      <th scope="row">16</th>
      <td>{}</td>
      <td>{}</td>
    </tr>
    <tr>
      <th scope="row">17</th>
      <td>{}</td>
      <td>{}</td>
    </tr>
    <tr>
      <th scope="row">18</th>
     <td>{}</td>
      <td>{}</td>
    </tr>
    <tr>
      <th scope="row">19</th>
      <td>{}</td>
      <td>{}</td>
    </tr>
    <tr>
      <th scope="row">20</th>
      <td>{}</td>
      <td>{}</td>
    </tr>
    <th scope="row">21</th>
      <td>{}</td>
      <td>{}</td>
    </tr>
    <tr>
      <th scope="row">22</th>
      <td>{}</td>
      <td>{}</td>
    </tr>
    <tr>
      <th scope="row">23</th>
      <td>{}</td>
      <td>{}</td>
    </tr>
    <tr>
      <th scope="row">24</th>
      <td>{}</td>
      <td>{}</td>
    </tr>
    <tr>
      <th scope="row">25</th>
      <td>{}</td>
      <td>{}</td>
    </tr>
    <tr>
     <th scope="row">Total Marks</th>
     <td colspan="3">{}</td>
     </tr>
     <tr>
     <th scope="row">Final Results</th>
     <td colspan="3">{}</td>
     </tr>

  </tbody>
</table>


    
    
    

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
     </div>
    </center>
  </body>
</html>